
section {
  padding: 100px 20px;
  min-height: 100vh;
  background-color: #f4f4f4;
  margin: 10px 0;
}

section h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

section p {
  margin-bottom: 20px;
  font-size: 1.2em;
}

section ul {
  list-style-type: none;
  padding: 0;
}

section ul li {
  margin-bottom: 10px;
  font-size: 1.2em;
}

section ul li strong {
  color: #1e3c72;
}
